{% extends "MehdiPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mehdiplatform_body %}

  <h2>Liste des annonces</h2>

  {% for advert in listAdverts %}
    <div class="card">
    <div class="card-header">
      {{ advert.date|date('d/m/Y') }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <a href="{{ path('mehdi_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
              <p>{{ advert.content }}</p>
            <footer class="blockquote-footer">Published by  <cite title="Source Title">{{ advert.author }}</cite></footer>
          </blockquote>
        </div>
      </div>
      {% else %}
        <p>Pas (encore !) d'annonces</p>
  {% endfor %}

  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('mehdi_platform_home', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}