<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Mehdi Plateforme{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron" style="text-align: center;">
      <h2>Ma plateforme d'annonces</h2>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('mehdi_platform_home') }}">Accueil</a></li>
          <li><a href="{{ path('mehdi_platform_add') }}">Ajouter une annonce</a></li>
        </ul>

        <h4>Dernières annonces</h4>
        {# render(controller("MehdiPlatformBundle:Advert:menu", {'limit': 2})) #}
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p style="text-align: center;">Copyright {{ webmaster }} © {{ 'now'| date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>